#output td:nth-child(1){
	text-align: right;
}
.output th+td, 
.output td:nth-child(1){
	text-align: right;
}
.hidden {
	display:none !important;
}
input[type="button"]{
	color: #2288ff;
    background: #313335;
    border-color: #404848;
}
input.toggle.off[type="button"]{
	color: #2288ff;
    background: #313335;
    border-color: #404848;
}
input.toggle.on[type="button"]{
	color: #404848;
    background: #2288ff;
    border-color: #404848;
}
input.date, 
input.time {
	width:6em;
	margin:0.5em;
	font-size:larger;
}
.ui-timepicker-standard a{
	color:#d9d9d9;
}
.type .value[text="now"]{
	color: #00daff;
}

.type .value[text="future"]{
	color: #0eff00;
}

.type .value[text="past"]{
	color: #ff3d00;
}
#progressbar .label{
	position: absolute; 
	text-align: center; 
	font-size: smaller;
	margin-top: 0.3em;
}